.card-list {
	display: flex;
	flex-direction: column;
	font-weight: 400;

	&__item {
		position: relative;
		padding-left: 45px;
		margin-bottom: 15px;

		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: 5px;
			width: 40px;
			height: 15px;
			background: url("../icons/arrow.svg") 0 0 no-repeat;
			fill: $color-default-white;
		}
	}

	@media (max-width: $md) {
		font-size: 14px;

		&__item {
			padding-left: 25px;

			&::before {
				width: 20px;
			}
		}
	}
}
