html,
body {
	font: {
		family: $ff-open-sans;
		size: 18px;
		weight: 600;
	}
	color: #ffffff;
	background-color: $color-default-black;
	cursor: default;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
