// Fonts
$ff-open-sans: "OpenSans", "Arial", sans-serif;
$ff-montserrat: "Montserrat", "Tahoma", sans-serif;

// Colors
$color-default-white: #ffffff;
$color-default-black: #000000;
$color-solitude: #e1e8f4;
$color-cornflower-blue: #59a8fd;
$color-bodger-blue: #027bfd;

// Breakpoints
$sm: 320px - 1px;
$md: 768px - 1px;
$lg: 1024px - 1px;
$xl: 1366px - 1px;
